.maintitle {
    display: block;
    float: left;
    padding-top: 30px;
    padding-left: 100px;
}

.prtitle {
    padding: 1rem;
    margin: 0;
}


.followpfs {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.followpf {
    border-radius: 50%;
    border: black solid 1px;
    width: 100px;
    height: 100px;
    padding: 0.5rem;
    
}